@using Task8._1._1.BLL.Interfaces;
@using Task8._1._1.Dependencies;
@using Task8._1._1.BLL;
@using Task8._1._1.Entities;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

    IUsersAndAwardsBll bll = DependencyResolver.Instance.UsersAndAwardsBll;
}
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Pages/SignIn/");
}
<form method="post" class="add">
    <div class="inline">
        <p>Username</p>
        <p />
        <input name="Name">
    </div>
    <div class="inline">
        <p>Date of birth</p>
        <div class="inline">
            <p>Day</p>
            <p />
            <input name="Day" type="datetime">
        </div>
        <div class="inline">
            <p>Month</p>
            <p />
            <input name="Month" type="datetime">
        </div>
        <div class="inline">
            <p>Year</p>
            <p />
            <input name="Year" type="datetime"><button name="User" value="true">Add</button>
        </div>
    </div>
</form>
@if (IsPost && Request.Form["User"] == "true")
{
    if (User.IsInRole("admin"))
    {
        AddModel.Instance.Day = Request["Day"];
        AddModel.Instance.Month = Request["Month"];
        AddModel.Instance.Year = Request["Year"];
        AddModel.Instance.Name = Request["Name"];
        Response.Redirect("~/Pages/Add/");//
        <p>@AddModel.Instance.user</p>
    }
    else
    {
        <p>Forbidden</p>
    }
}
<p></p>
<form method="post" class="add">
    <div class="inline">
        <p>Add an award</p>
        <p />
        <input name="Title"><button name="Award" value="true">Add</button>
    </div>
</form>
@if (IsPost && Request.Form["Award"] == "true")
{
    bll.AddAward(Request["Title"]);
}
<p></p>
<form method="post">
    <div class="inline">
        <p>Delete a user</p>
        <p />
        <input name="User_Id"><button name="Delete_User" value="true">Delete</button>
    </div>
</form>
@if (IsPost && Request.Form["Delete_User"] == "true")
{
    bll.RemoveUser(new Guid(Request["User_Id"]));
}
<p></p>
<form method="post">
    <div class="inline">
        <p>Delete an award</p>
        <p />
        <input name="Award_Id"><button name="Delete_Award" value="true">Delete</button>
    </div>
</form>
@if (IsPost && Request.Form["Delete_Award"] == "true")
{
    bll.RemoveAward(new Guid(Request["Award_Id"]));
}
<p></p>
<form method="post">
    <p>Award a user</p>
    <p />
    <select name="User_To_Add">
        @foreach (var item in bll.GetUsers())
        {
            <option value="@item.ID">@item.Name</option>
        }
    </select>
    <select name="Award_To_Add">
        @foreach (var item in bll.GetAwards())
        {
            <option value="@item.ID">@item.Title</option>
        }
    </select><button name="Award_A_User" value="true">Award</button>
</form>
@if (IsPost && Request.Form["Award_A_User"] == "true")
{
    User user = new User();
    Award award = new Award();
    foreach (var item in bll.GetUsers())
    {
        if (item.ID == new Guid(Request.Form["User_To_Add"]))
        {
            user = item;
            break;
        }
    }
    foreach (var item in bll.GetAwards())
    {
        if (item.ID == new Guid(Request.Form["Award_To_Add"]))
        {
            award = item;
            break;
        }
    }
    bll.AddUserAward(user, award);
}
<form method="post">
    <p>Strip a user of an award</p>@*Deprive*@
    <p />
    <select name="User_To_Add">
        @foreach (var item in bll.GetUsers())
        {
            <option value="@item.ID">@item.Name</option>
        }
    </select>
    <select name="Award_To_Add">
        @foreach (var item in bll.GetAwards())
        {
            <option value="@item.ID">@item.Title</option>
        }
    </select><button name="Strip_A_User" value="true">Award</button>
</form>
@if (IsPost && Request.Form["Strip_A_User"] == "true")
{
    Response.Redirect("~/Pages/Delete/");
    //User user = new User();
    //Award award = new Award();
    //foreach (var item in bll.GetUsers())
    //{
    //    if (item.ID == new Guid(Request.Form["User_To_Add"]))
    //    {
    //        user = item;
    //        break;
    //    }
    //}
    //foreach (var item in bll.GetAwards())
    //{
    //    if (item.ID == new Guid(Request.Form["Award_To_Add"]))
    //    {
    //        award = item;
    //        break;
    //    }
    //}
    //bll.RemoveUserAward(id);
}
<table>
    <tr>
        <th>User</th>
        <th>Awards</th>
    </tr>
    @foreach (var item in bll.GetUsers())
    {
        <tr>
            <td>@item.Name</td>
            @foreach (var j in bll.GetUsersAwards())
            {
                if (item.ID == j.UserProp.ID && j.AwardProp.Title != "")
                {
                    <td>@j.AwardProp.Title</td>
                }
                @*<td>@if (item.ID == j.UserProp.ID&&j.AwardProp.Title!="")
                        {
                            @j.AwardProp.Title
                        }
                    </td>*@
            }
        </tr>
    }
</table>